* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    background-image: url('/image/space-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}
.flex-to-center{
    display: flex;
    justify-content: space-around;
    margin-top:50px ;
}
.wrapper-gradient-border-radius{
    border-radius: 10px;
    background-color: cyan;
    padding: 20px;
}
.social-transition div{
    display: flex;
    padding: 5px;
}