* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
    color: white;
    background-image: url('/image/space-bg.png');
    background-size: auto;
    background-position: center;
    background-repeat:no-repeat ;
}
