* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background-image: url('/image/space-bg.png');
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.container {
    padding: 20px;
    width: 60%;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-edit {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}

.form-group label {
    margin-bottom: 5px;
}

.form-group input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
.btn {
    display: block;
    width: 30%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.gyat{
    display: flex;
}

.btn-primary {
    background-color: green;
    justify-content: center;
    transition: .5s;
}

.btn:hover {
    background-color: darkgreen;
}
.btn-danger{
    background-color: red;
    transition: .5s;
}
.btn-danger:hover{
    background-color: darkred;
}
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .form-edit {
        width: 100%;
    }

    .form-group {
        flex-direction: column;
        align-items: flex-start;
    }

    label, input {
        width: 100%;
    }
}
