* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Untuk memastikan box-sizing yang konsisten */
}

footer {
    display: flex;
    justify-content: space-around;
    padding-left: 30vh;
    padding-right: 15vh;
    align-items: center;
    height: 70px;
    background-color: #02144f;
    position: sticky;
    z-index: 1000;
    top: 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-top: 33vh;
}


.landing-title {
    text-decoration: none;
    color: white;
}

.left-section, .center-section, .right-section {
    display: flex;
    align-items: center;
}

.center-section {
    flex: 1; /* Menempatkan logo GitHub di tengah */
    display: flex;
    justify-content: center;
}

.img-arrow {
    height: 45px; /* Ukuran gambar logo GitHub */
}

.right-section {
    margin-left: auto; /* Memindahkan teks "BY OnoGawean PT 2" ke kanan */
    display: flex;
    align-items: center;
    color: white;
}

.right-section p {
    margin-left: 10px; /* Jarak antara teks di dalam right-section */
}
