* {
    margin: 0;
    padding: 0;
}
body {
    color: white;
    background-image: url('/image/space-bg.png');
    background-size: auto;
    background-position: top;
    background-repeat: no-repeat;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.card-about {
    height: 500px;
    align-content: center;
    text-align: center;
}
.img-arrow {
    margin-top: 20px;
    height: 75px;
    margin-bottom: 20px;
}
.to-about {
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    background-color: #19376D;
    transition: .4s;
}
.to-about:hover {
    background-color: #576CBC;
}
.card-buy {
    height: 700px;
    align-content: center;
    text-align: center;
}
@keyframes showTopText {
    0% { transform: translate3d(0, 100%, 0); }
    40%, 60% { transform: translate3d(0, 50%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
    0% { transform: translate3d(0, -100%, 0); }
    100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
    color: white;
    height: 90vmin;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vmin;
    /* z-index: 1;  */
}
.animated-title > div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.animated-title > div div {
    font-size: 5vmin;
    padding: 10vmin 0;
    position: absolute;
}
.animated-title > div div span {
    display: block;
}
.animated-title > div.text-top {
    border-bottom: 1vmin solid #5d7dff;
    top: 0;
}
.animated-title > div.text-top div {
    animation: showTopText 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    bottom: 0;
    transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: #767676;
}
.animated-title > div.text-bottom {
    bottom: 0;
}
.animated-title > div.text-bottom div {
    animation: showBottomText 0.5s;
    animation-delay: 1.75s;
    animation-fill-mode: forwards;
    top: 0;
    transform: translate(0, -100%);
}
.text-animation-section {
    position: relative;
    height: 40vh; /* Ensures it takes up the full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50vh;
}

.card-buy-form{
    border-radius: 5px;
    background-color: white;
    margin-right: 350px;
    margin-left: 350px;
    color: black;
    padding-bottom: 20px;
    align-items: center;
    max-height: auto;
}
.card-table{
    border-radius: 5px;
    background-color: white;
    margin-right: 200px;
    margin-left: 200px;
    color: black;
    align-items: center;
    max-height: auto;

}
.title-table-booking{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
.table-booking{
    overflow-y: scroll;
    text-align: center;
    padding: 0px 20px 20px 20px;
}
.table-booking tr td{
    border: 1px solid black;
    padding: 5px;
}
.article-buy{
    font-size: 30px;
}
.title-buy{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
    
}
li{
    list-style-type: none;
}
.form-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
label {
    flex: 3;
    margin-right: 10px;
  }
select, input {
    flex: 7;
    padding: 5px;
    width: 100%;
    box-sizing:content-box;
}
.form-buy{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}
.button-buy{
    border: none;
    background-color: green;
    padding:10px 20px 10px 20px; 
    border-radius: 25px;
    color: white;
}