* {
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center;
    background-color: transparent;
    position: sticky;
}
.landing-title{
    text-decoration: none;
    color: black;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-left: 100px;
    
}
nav ul li{   
    margin-left: 50px;
}
nav ul li a{
    position: relative;
    text-decoration: none;
    color: black;
}
nav ul li a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: blue;
    transition: .4s;
}
nav ul li a:hover::before{
    width: 100%;
}
.btn_logout{
    display: block;
    text-decoration: none;
    color: #000;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: center;
    padding-top:1px;
    font-size: 16px;
}
.btn_logout:hover{
    color: red;
    transition: .3s;
}



.user-item {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #e5e7eb;
}

.user-info {
    display: flex;
    gap: 16px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #f9fafb;
}

.user-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name {
    font-size: 1rem;
    font-weight: 600;
    color: #111827;
}

.user-email {
    margin-top: 4px;
    font-size: 0.75rem;
    color: #6b7280;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px; /* Adjust as needed */
}

.user-status {
    display: none;
    text-align: right;
}

.user-title {
    font-size: 1rem;
    color: #111827;
}



@media (min-width: 640px) {
    .user-status {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
    }
}